Connected Services/SI_Cancel_EPURServiceReference/SI_Cancel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:scg.co.th:CBMR:EPURCHASING:STOCK" name="SI_Cancel" targetNamespace="urn:scg.co.th:CBMR:EPURCHASING:STOCK" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_Cancel" />
  <wsdl:types>
    <xsd:schema xmlns="urn:scg.co.th:CBMR:EPURCHASING:STOCK" targetNamespace="urn:scg.co.th:CBMR:EPURCHASING:STOCK" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_Return" type="p1:DT_Return" />
      <xsd:element name="MT_Cancel" type="p1:DT_Cancel" />
      <xsd:complexType name="DT_Cancel">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a86dde50cde211e4c35a000000522fa6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Document">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">525e3456cd5a11e4ceaf00ffc6971f42</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="PST_DT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">525e3453cd5a11e4ce0700ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MBLNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">525e3454cd5a11e4afd900ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MJAHR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">525e3455cd5a11e48a6d00ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="USNAME" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">64e08d8ccd5a11e480c400ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Return">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c2a33209cde211e4cbf9000000522fa6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Return">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0936bf7acc9311e4925900ffc6971f42</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="TYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0936bf76cc9311e48fc300ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0936bf77cc9311e4aa8a00ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MBLNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0936bf78cc9311e4c5c200ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MJAHR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0936bf79cc9311e4b8c400ffc6971f42</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Cancel">
    <wsdl:documentation />
    <wsdl:part name="MT_Cancel" element="p1:MT_Cancel" />
  </wsdl:message>
  <wsdl:message name="MT_Return">
    <wsdl:documentation />
    <wsdl:part name="MT_Return" element="p1:MT_Return" />
  </wsdl:message>
  <wsdl:portType name="SI_Cancel">
    <wsdl:documentation />
    <wsdl:operation name="SI_Cancel">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_Cancel" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Cancel" />
      <wsdl:output message="p1:MT_Return" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_CancelBinding" type="p1:SI_Cancel">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_Cancel">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_CancelService">
    <wsdl:port name="SI_CancelPort" binding="p1:SI_CancelBinding">
      <address location="http://scgtbstppi81.cementhai.co.th:50000/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=BS_CBMR_EPURCHASING_D&amp;Interface=urn%3Ascg.co.th%3ACBMR%3AEPURCHASING%3ASTOCK%5ESI_Cancel" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>